body{
    margin:0;
    font-family: cursive;
}
.modal{
    z-index: 100;
    position: absolute;
    top: 200px;
    left: 400px;
    border-radius: 10px;
    padding: 20px 30px;
    height: 300px;
    width: 500px;
    box-shadow: 0 2px 8px 0 rgba(34,33,46,0.16);
    background-color: white;
    display: none;
}
.heading{
    box-shadow: 0 2px 8px 0 rgba(34,33,46,0.16);
    width: 30%;
    margin: 20px auto;
    height: 40px;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
    font-size: 21px;
}
.div-btn{
    display: flex;
    justify-content: space-between;
    width:45%;
    margin-top: 10px;

}
.modal-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.container{
    position: relative;
    height: 100vh;
    width:100vw;
}
.movie-element{
    border-radius: 10px;
    height: 150px;
    width: 580px;
    box-shadow: 0 2px 8px 0 rgba(34,33,46,0.16);
    background-color: white;
    margin-bottom: 20px;
}
.movie-div{
    display: flex;
    flex-direction: row;
    width:50%
}
.confirm{
    background-color: #3535e2;
    width:100%;
    color: white;
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
}
.confirmation-box{
    z-index:50;
    border-radius: 10px;
    height: 180px;
    width: 580px;
    box-shadow: 0 2px 8px 0 rgba(34,33,46,0.16);
    background-color: white;
    top:100px;
    left:100px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    display: none;
}
img{
    width: 250px;
    height: 150px;
   
}

.des{
    font-size: 30px;
    color: #3535e2;
    margin-left: 50px;
}
.rating{
    color: white;
    background: orange;
    border-radius: 10px;
    text-align: center;
}
label{
    font-weight: bold;
    font-size: 26px;
}
ul{
    list-style-type: none;
}
input{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #936c6c;
    border-radius: 6px;
    padding: 4px 2px;
}

header{
    color: white;
    background-color: #6d6dec;
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    font-size: 23px;
    align-items: center;
}
button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    height: 38px;
    width: auto;
    font-size:20px;
    color: white;
    font-weight: 700;
    padding: 2px 13px;
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
}

.back-drop{
    background-color: rgba(0,0,0,0.65);
    width:100%;
    height:100%;
    z-index:10;
    position: absolute;
    display: none;
}
.visible{
    display: block;
}
.para{
margin-left: 50px;
}